/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Common styles */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}
.heading-titel{
    color: #272727;
    font-weight: 800;
}
.heading-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    color: #fff;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
}
/* header style */
.header{
    display: flex;
    gap: 55px;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}
/* header banner style */
.banner-text{
    margin-top: 197px;
    margin-left: 50px;
}
.banner-text h2{
   max-width: 600px;
   font-size: 80px;
   margin-bottom: 32px;
}
.banner-text p{
   max-width: 609px;
   margin-bottom: 32px;
}
.banner-image img{
   max-width: 635px;
   margin-top: 50px;
}
/* features style */
.features{
    max-width: 1440px;
    padding: 5px;
    margin: 0 auto;
}
/* features-text style */
.features-text{
    margin-top: 178px;
    text-align: center;
}
.features-text h2{
    margin-bottom: 24px;
    font-size: 40px;
}
.features-text p{
    margin: 0 auto;
    max-width: 594px;
    padding-bottom: 45px;
}
/* features-images style */
.features-images{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
}
.features-images img{
    max-width: 310px;
    height: 428px;
}
.card-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 78px;
}
.card-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 78px 0px 78px;
}
.card-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 78px;
}
.features-images p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 32px;
    margin-bottom: 128px;
}

/* features-icons style */
.features-icons{
    max-width: 1440px;
    gap: 100px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 200px;
    
}
.features-icons p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
}

/* Sales style */
.Sales{
    margin-top: 225px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Sales h2{
    font-size: 40px;
}
.Sales h2 span{
    color: #E55473;
}
.Sales p{
    max-width: 594px;
    margin-top: 24px;
    margin-bottom: 52px;
}

/* footer */
.footer{
    background-color: #111010;
    text-align: center;
}
.footer h2{
    padding-top: 128px;
    font-size: 48px;
    color: #fff;
    margin-bottom: 24px;
}
.footer h2 span{
    color: #E55473;
}
.footer p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    max-width: 625px;
    margin: 0 auto;
}
.copyright{
    display: block;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    margin-top: 24px;
    padding-bottom: 128px;
}